html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#6ec6ff, #ffffff);
  font-family: Arial, sans-serif;
}

#gameCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#6ec6ff, #cceeff);
}
